body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.screen1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw;
}

.navbar {
    height: 15%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.scr1_header {
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.screen1_content {
    height: 85%;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.scr1_txt {
    font-size: 20px;
    font-weight: 400;
}

.scr1_img {
    height: 70%;
    width: 100%;
    background-image: url(https://www.volvocars.com/images/v/-/media/project/contentplatform/data/media/my22/xc40-fuel/xc40-hero-21x9.jpg?h=1096&iar=0&w=2560);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.screen2 {
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw; 
}

.reasons {
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.reasons_header {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.reason {
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reason_header {
    font-size: 25px;
    font-weight: 700;
}

.reason_content {
    width: 50%;
    text-align: left;
}

.reason_img {
    width: 40vw;
}

.reason_txt {
    font-size: 20px;
}

.footer {
    height: 20vh;
    padding-left: 3vw;
    padding-right: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:  #E1DFDD;
}

.footer_links {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer_container {
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}